<div class="container">
	<div class="panel">
		<div class="panel-heading">
			<h2>Profile (Owner)</h2>
		</div>
		<div class="panel-body">
			<strong>Email:</strong> <%= current_user.email %>
		</div>
	</div>
	<div class="panel">
		<div class="panel-heading">
			<h2>Shops profile</h2>
		</div>
		<div class="panel-body">
			<p>
				<strong>Shop Name: </strong>
				<%= @shop.shop_name %>
			</p>
			<p>
				<strong>Address: </strong>
				<%= @shop.shop_address %>
			</p>
			<p>
				<strong>Origin: </strong>
				<%= @shop.shop_state %>
			</p>
			<p>
				<strong>Postcode: </strong>
				<%= @shop.shop_postcode %>
			</p>
			<p>
				<strong>Phone Number (Primary): </strong>
				<%= @shop.shop_phone %>
			</p>
			<p>
				<strong>Phone Number (Secondary): </strong>
				<%= @shop.shop_another_phone %>
			</p>
		</div>
		<div class="panel-footer">
			<%= link_to 'Edit Shop', edit_user_shop_path(current_user, @shop), class: 'btn btn-info'%>
		</div>
	</div>
</div>