<%= form_for([current_user, @customer]) do |f| %>
	<div class="form-group">
		<%= f.label :customer_name, 'customer name'.upcase %>
		<%= f.text_field :customer_name, autofocus: true, placeholder: 'Customer Name', class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :customer_address, 'address'.upcase %>
		<%= f.text_area :customer_address, placeholder: 'Customer Address', class: 'form-control', cols: 4, rows: 5 %>
	</div>
	<div class="form-group">
		<%= f.label :customer_phone_number, 'phone number'.upcase %>
		<%= f.phone_field :customer_phone_number, placeholder: 'Phone Number', class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :customer_hp_number, 'hp number'.upcase %>
		<%= f.phone_field :customer_hp_number, placeholder: 'HP Number', class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :customer_postcode, 'postcode'.upcase %>
		<%= f.text_field :customer_postcode, placeholder: 'Customer Postcode', class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.submit class: 'form-control btn btn-primary' %>
	</div>
<% end %>