<!-- header begin -->
<div id="top-nav" class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-toggle"></span>
			</button>
			<%= link_to 'Docket', root_path, class: 'navbar-brand'%>
		</div>

		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<% if user_signed_in? %>
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">
						Manage <strong class="caret"></strong>
					</a>
					<ul class="dropdown-menu">
						<li>
							<%= link_to 'Shops', '#' %>
						</li>
						<li>
							<%= link_to 'Customers', '#' %>
						</li>
						<li>
							<%= link_to 'Items', '#' %>
						</li>
						<li>
							<%= link_to 'Docket', '#' %>
						</li>
					</ul>
				</li>
				<li>
					<%= link_to 'Profile', '#' %>
				</li>
			</ul>
			<% end %>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a role="button" class="dropdown-toggle" data-toggle="dropdown">
						<%= render 'layouts/nav_links_for_auth' %>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- header end -->