<!DOCTYPE html>
<html>
<head>
  <title>Docket Rails V2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-witdh, initial-scale=1">
</head>
<body>
  <%= render 'layouts/header' %>
  <%= yield %>
  </div>
</body>
</html>
